body {
    font-family: sans-serif;
  }
  
  header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  main {
    margin-top: 10px;
  }
  
  section {
    margin-bottom: 10px;
  }
  
  .login {
    background-color: #FFB6C1;
    padding: 10px;
  }
  
  .login h2 {
    text-align: center;
  }
  
  .login form {
    width: 300px;
    margin: 0 auto;
  }
  
  .login input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .register {
    background-color: #FFB6C1;
    padding: 20px;
  }
  
  .register h2 {
    text-align: center;
  }
  
  .register form {
    width: 300px;
    margin: 0 auto;
  }
  
  .register input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
